
/* @import "../../sass/abstracts.scss"; */

.searcher{
  float: right;
  margin-right: 30px;
  margin-bottom: 10px;
}
.search-container input[type=text]  {
    height: 32px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: #fff;
    border: 0.1rem solid #c7c7c9;
    /* border: 0.1rem solid $color-border; */
    box-shadow: none;
    -webkit-appearance: none;
}
