@import '../../sass/abstracts';
.terminal {
  @include content-2(0, 1rem, 1rem, $grey-ultra-light);
  .circle {
    padding: 0.3rem 0.9rem !important;
  }
  &--page-title {
    background: scale-color($blue-dark, $lightness: +90%);
    border-radius: 1rem 1rem 0 0;
    h1 {
      font-size: 1.5rem;
    }
    & .menu-dropdown {
      & .btn-white {
        width: auto !important;
      }
    }
  }

  &--tables {
    @include table(
      0.5rem,
      $color-text-active,
      $white,
      left,
      left,
      $color-text,
      $color-text,
      $blue-dark,
      $blue-dark,
      $white,
      1rem
    );
  }

  .count {
    font-size: 1.1rem;
    background-color: $white;
    border-radius: 3rem;
    padding: 0.3rem;
    line-height: 2rem;
  }

  .rbc-calendar {
    min-height: 73rem;
    h3.fs-3.rbc-toolbar-label {
      text-align: left;
    }
    .rbc-month-row {
      min-height: 13rem;
    }
    .event-item {
      padding: 0 0.2rem;
    }
    .rbc-event {
      margin: 2px 0;
      padding: 0px 2px;
    }
    .rbc-show-more {
      display: none;
    }
    .content {
      .count {
        background-color: $white;
        padding: 0.2rem 0.5rem;
        border-radius: 16rem;
      }
      .description {
        font-size: 1.1rem;
        padding-left: 0.3rem;
        line-height: 2rem;
      }
    }
  }

  .sidebar {
    width: 20%;
    .btn-group {
      padding: 0;

      .left {
        float: left;
      }
      .right {
        float: right;
      }

      button {
        padding: 0 1rem;
        margin: 0;
        line-height: 3rem;
        border: 0.1rem solid #c7c7c9;

        span {
          font-weight: normal;
        }
        // .pendingIncome {
        //   background-color: #ffdb04;
        //   color: #897711;
        // }
        // .pending {
        //   background-color: #ffe6ee;
        //   color: #ee0c64;
        // }
        // .quadrate {
        //   background-color: #d6eae8;
        //   color: #238f51;
        // }
        .pendingIncome {
          background-color: #ffdb04;
        }
        .pending {
          background-color: #ee0c64;
        }
        .quadrate {
          background-color: #238f51;
        }
      }
      .terminal {
        span {
          margin: 0;
        }
        .count {
          margin-top: 0.5rem;
          width: 2rem;
          height: 2rem;
        }
        .pending {
          background-color: #ee0c64;
        }
        .quadrate {
          background-color: #238f51;
        }
      }

      .terminal-detail {
        cursor: auto;
        &:hover {
          box-shadow: none;
          transform: none;
        }
      }

      .listing-buttons {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .btn-small {
    zoom: 80%;
  }

  .innerTable {
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .total-td {
    background-color: #696969 !important;
    color: #fff !important
  }

  .tab {
    color: #0B59A3;
    background-color: #f9f9f9;
    border-bottom: 0.1rem solid #c7c7c9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      background-color: #ddeefe;
      cursor: pointer;
    }
  }

  .table-container {
    width: 100%;
    border-radius: 0.3rem;
    overflow-x: auto;
    border: 0.1rem solid #c7c7c9;
    transition: width 2s;
  }

  .toggle-arrow {
    border: 0.1rem solid #c7c7c9;
    cursor: pointer;
  }

  .toggle-sidebar {
    width: 18%;
    background-color: #f9f9f9;
    border: 0.1rem solid #c7c7c9;
  }

  .active-tab {
    color: #454951;
    background-color: #FEDB00;
    border: 0.1rem solid #c7c7c9;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  table {
    thead {
      
      tr {
        
        th {
          text-align: center;
        }
      }
    }
  }
}
